In [2]:
import pandas as pd
import numpy as np

In [5]:
target = pd.read_csv("./datasets/상장폐지현황11-20.csv", encoding="CP949")
target
target['폐지일'] = target['폐지일자'].apply(lambda x : int(x[:4]))
target['폐지일'] = target['폐지일']-2

target.columns = ['회사명', '폐지일자', '회계년도']
target['부실기업여부'] = 1
target = target[['회사명', '폐지일자', '회계년도', '부실기업여부']]
target

         회사명        폐지일자  회계년도  부실기업여부
0      아이팩토리  2016-09-19  2014       1
1    씨엘인터내셔널  2016-09-08  2014       1
2       엠제이비  2016-09-05  2014       1
3       피엘에이  2016-07-25  2014       1
4    제이앤유글로벌  2016-05-09  2014       1
..       ...         ...   ...     ...
189   비엔씨컴퍼니  2017-05-08  2015       1
190    신양오라컴  2017-05-08  2015       1
191       우전  2017-04-13  2015       1
192  케이엔씨글로벌  2017-03-07  2015       1
193      프리젠  2017-02-24  2015       1

[194 rows x 4 columns]

In [6]:
feature = pd.read_csv("./datasets/사업보고서_기본재무비율09_18.csv", encoding="CP949")
feature.dropna(how='any', inplace=True)
feature.회계년도 = feature.회계년도.astype(int)
feature.회사명 = feature.회사명.str.replace('\(주\)', '')
feature

C:\Users\dbswo\AppData\Local\Temp\ipykernel_21008\197347532.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  feature.회사명 = feature.회사명.str.replace('\(주\)', '')

         회사명  회계년도  운전자산총자본비율  이익잉여금총자산비율     총자산이익율     시장가부채비율      매출액회전율
0      CMG제약  2009   3.404063 -163.596970 -37.877464  170.116718   44.434066
1      CMG제약  2010  32.414695 -186.531819 -30.887238  345.245240   47.041848
2      CMG제약  2011  28.227204 -165.591365   2.558062  294.524304   65.012178
3      CMG제약  2012  70.596227  -91.720878  -7.083311  223.800806   28.464277
4      CMG제약  2013  58.501385  -93.363132   1.471131  808.536385   36.489366
...      ...   ...        ...         ...        ...         ...         ...
12945   흥구석유  2012   8.600939   37.335440   0.989337  714.222834  365.290909
12946   흥구석유  2011   8.366997   35.723213   2.245461  618.462464  345.945860
12947   흥구석유  2010   3.661969   31.168716   0.783491  524.174207  199.105932
12948   흥구석유  2009   1.170054   31.472072   1.781519  601.791573  149.159014
12949   흥구석유  2015  14.152619   40.837839   0.592408  794.276762  198.718476

[12943 rows x 7 columns]

In [10]:
all = pd.merge(feature, target, how='left', on=['회사명', '회계년도'])
all.fillna(0, inplace=True)
all.부실기업여부 = all.부실기업여부.astype(int)
all.to_csv('./재무비율전처리완료.csv', encoding='CP949', index=None)

In [11]:
all[all.부실기업여부==1]

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부실기업여부
269,나노트로닉스,2012,15.689289,4.548654,8.175179,180.825234,37.665025,2014-04-11,1
400,네오퍼플,2011,-8.832175,-16.700787,0.436796,160.850907,75.281801,2013-05-03,1
423,네이쳐글로벌,2009,74.492049,-49.803589,-3.371182,673.432622,6.028268,2011-01-08,1
434,네프로아이티,2009,-0.465154,19.338150,13.884726,157.344363,76.780711,2011-11-05,1
437,넥스지,2016,54.624629,67.086585,-1.056354,1234.988190,64.381272,2018-10-11,1
...,...,...,...,...,...,...,...,...,...
11926,잘만테크,2013,18.117744,-6.448430,3.930512,152.140271,96.912206,2015-05-13,1
12019,제이앤유글로벌,2014,25.913398,45.699976,-9.094662,248.468681,58.902314,2016-05-09,1
12396,태산엘시디,2012,-15.328347,-14.199102,-3.229406,114.456017,200.342425,2014-04-11,1
12416,토자이홀딩스,2009,39.884776,-67.170612,-9.104072,1417.784835,13.095795,2011-10-12,1
12474,평안물산,2010,21.634038,-317.700909,-26.867529,543.058777,15.694443,2012-06-01,1

In [15]:
all = pd.read_csv('./preprocessed_data/all.csv', encoding='CP949')
all_ = pd.read_csv('./preprocessed_data/all_.csv', encoding='CP949')

In [16]:
all = pd.concat([all, all_], axis=0)
all.to_csv('./preprocessed_data/all_final.csv', encoding='CP949', index=None)